[submodule "contrib/vendor/node-chargen"]
	path = vendor/node-chargen
	url = git@github.com:jeromeetienne/node-chargen.git
[submodule "contrib/vendor/node-helpers"]
	path = vendor/node-helpers
	url = git@github.com:jeromeetienne/node-helpers.git
[submodule "contrib/vendor/underscore"]
	path = vendor/underscore
	url = http://github.com/documentcloud/underscore.git
