Package: neoip-utils
Version: 0.5.0~lucid1~ppa201008021847
Architecture: all
Maintainer: Jerome Etienne <jerome.etienne@gmail.com>
Installed-Size: 56
Section: net
Priority: extra
Homepage: http://github.com/jeromeetienne/node-neoip
Description: Command line utils for neoip
 A bunch of utils to use neoip from the command line. It allows to easily
 build url for static and streamed contents.
